/*
//
//
 ----------------  Font Family ---------------- 
//
//
*/

@font-face {
    font-family: 'Inter';
    font-display: swap;
    font-weight: 400 700 800;
    src: url('assets/fonts/Inter-VariableFont_slnt,wght.ttf') 
         format('truetype');
}
