

/* 
//
//
----------------  Global Styling ---------------- 
//
//
*/

body {
    font-family: var(--ff-inter);
    font-weight: var(--fw-normal);
    background-color: var(--clr-nut-100-offWhite);
    max-width: 1100px;
    margin: auto;
}

ul, ol {
    list-style: none;
  }
